<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>apprentice.io</title>
    <link type="image/ico" href="/favicon.ico" rel="icon" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="//use.typekit.net/uic8vfj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">
    <main>
      <%= partial "partials/header" %>
      <%= yield %>
      <%= partial "partials/footer" %>
    </main>
  </body>
</html>
