<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>apprentice.io</title>
    <link type="image/ico" href="/favicon.ico" rel="icon" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script src="//use.typekit.net/uic8vfj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "partials/header" %>
    <main role="main">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
  </body>
</html>
