<% content_for :site_title, 'apprentice.io' %>
<% content_for :title, 'apprentice.io' %>
<% content_for :keyword, :apprentice %>
<% content_for :meta_keywords, jobs_meta_keywords %>
<% content_for :meta_keywords, jobs_meta_description %>

<header id="page-header" class="primary">
  <h1>The next generation of designers and developers get their start here.</h1>
  <h3>apprentice.io provides designers and developers with a top-notch apprenticeship<br>and connects them with leading employers.</h3>
</header>

<div id="jobs-wrapper" class="job-description">
   <section class="alumni">
     <h3 class="title"><span>Featured Alumni</span></h3>
     <section class="alumnus nick">
       <%= image_tag "apprenticeship/nquaranto.png" %>
       <h4>Nick Quaranto</h4>
       <section class="bio">
         <p>Before his thoughtbot apprenticeship, Nick was working on his Software Engineering degree at RIT and programming in classic ASP and ASP.NET.</p>
         <p>After his thoughtbot apprenticeship, Nick joined thoughtbot as a full-time developer. He became a fixture of the Ruby community, creating <a href="http://rubygems.org">rubygems.org</a> and receiving a <a href="http://rubyheroes.com/heroes">Ruby Hero award</a>.</p>
         <p>He now works for <a href="http://37signals.com">37signals</a>.</p>
       </section>
     </section>

     <section class="alumnus jessie">
       <%= image_tag "apprenticeship/jessie.jpg" %>
       <h4>Jessie Young</h4>
       <section class="bio">
         <p>Before her thoughtbot apprenticeship Jessie graduated from <%= link_to 'Dev Bootcamp', 'http://devbootcamp.com/' %> and <%= link_to 'RailsBridge', 'http://workshops.railsbridge.org' %>. Before taking the plunge into web development, Jessie was doing marketing for start-ups. She double majored in Philosophy and Government at Colby College.</p>
         <p>Upon completing her apprenticeship, Jessie joined thoughtbot in San Francisco as a full-time developer, where she remains today.</p>
       </section>
     </section>
  </section>

  <div id="get-started">
    <%= link_to page_path('tracks') do %>
      <h3>Designer or developer looking for a great apprenticeship?</h3>
      <p>Become an apprentice</p>
    <% end %>
  </div>

    <h3>Frequently Asked Questions</h3>

    <h4>What happens during the apprenticeship?</h4>
    <p>Apprentices will work alongside designers and developers at thoughtbot on real projects, and will be assigned a Mentor who is their primary instructor. Apprentices can take any of the <a href="http://learn.thoughtbot.com">thoughtbot workshops</a> at no charge. They will also work on special projects designed to give them additional time and training in the areas they most need.</p>

    <h4>What's the relationship between thoughtbot and the apprentices? Are they paid employees?</h4>
    <p>The apprentices will be paid, W2, employees of thoughtbot during their apprenticeship. The current pay is $500/week.</p>

    <h4>How long does the apprenticeship last?</h4>
    <p>The apprenticeship lasts for three months. In the final month, you may receive an offer for a position as a full designer or developer at thoughtbot, or we'll connect you with other great potential employers.</p>

    <h4>Are there specific time periods apprentices are accepted? When is the application deadline? When does the next class start?</h4>
    <p>We take applications continually and accept people on a rolling basis, in short, there are no deadlines and there are not batches of apprentices.</p>

    <h4>What is the time commitment?</h4>
    <p>Apprentices will work 40 hours per week, at the thoughtbot office. Part-time apprenticeships are not available. If you will be relocating for your apprenticeship, we can provide non-financial assistance with travel and lodging arrangements. We can provide financial relocation assistance once your apprenticeship is completed and you join thoughtbot as a full designer or developer.</p>

    <h4>What technologies will the apprentices work with?</h4>
    <p>Apprentices will learn and work with Ruby on Rails, jQuery, Backbone.js, HTML5, SCSS, git, Unix, and agile software development.</p>

    <h4>What do you look for in applicants?</h4>
    <p>A qualified design apprentice will have experience with graphical design for the web or iOS as well as HTML and CSS. The well-qualified developer candidate will be at an intermediate level with Ruby on Rails.</p>
    <p>We look for candidates who have a proven passion for design and development and who have demonstrated the ability to learn quickly. Candidates should have excellent communication and interpersonal skills.</p>
    <p>This paid apprenticeship is ideal for intermediate developers and designers looking to advance to the next level, and experienced candidates making a technology or career change.</p>

    <p><%= link_to 'Even more information', page_path('more') %></p>
  </section>
</div>
