<% content_for :title, 'Fanboat' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Fanboat</h2>
  <section class="nav">
    <a class="left" href="/portfolio/mitx" title="MITx">&larr; MITx</a>
    <a class="right" href="/portfolio/vpp" title="VPP">Velocity iPad App &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>Fanboat &mdash; the companion mobile app to Stattleship &mdash; allows users to keep track of their favorite teams &amp; players, and track their own predictions directly on their phones.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>After the launch of their web product, Stattleship approached us for a follow up engagement with the goal of adding mobile functionality to their business. The original application allows sports fans to see interesting stats from their favorite teams and players, and make predictions about their performance. They wanted a way to make the stats and information from their website more fun, interesting, and accessible on a mobile platform.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>Starting with a simple mailing list solution, Stattleship was able to discover how interesting the product could be, what stats users might be interested in, and what additional information the users were looking for. Using the results of this research, we were able to design and implement a mobile application which delivered a compelling mix of user-specific statistical sports data and prediction results.</p>
      </section>
      <p class="visit"><a href="http://stattleship.io/fanboat.html">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <%= link_to image_path('portfolio/fanboat/signup.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/signup.png', class: :screenshot, alt: 'Fanboat Signup Screenshot' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/feat-detail.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/feat-detail.png', class: :screenshot, alt: 'Fanboat Feat Detail' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/game-detail.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/game-detail.png', class: :screenshot, alt: 'Fanboat Game Detail' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/settings.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/settings.png', class: :screenshot, alt: 'Fanboat Settings' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/share.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/share.png', class: :screenshot, alt: 'Fanboat Share' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/feed.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/feed.png', class: :screenshot, alt: 'Fanboat Feed' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/search.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/search.png', class: :screenshot, alt: 'Fanboat Search' %>
      <% end %>
      <%= link_to image_path('portfolio/fanboat/choose-teams.png'), class: :iphone do %>
        <%= image_tag 'portfolio/fanboat/choose-teams.png', class: :screenshot, alt: 'Fanboat Choose Teams' %>
      <% end %>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
