<% content_for :title, 'Owneraide' %>
<% content_for :keyword, 'portfolio' %>
<% content_for :meta_keywords, portfolio_meta_keywords %>
<% content_for :meta_description, portfolio_meta_description %>

<header id="page-header">
  <h2>Owneraide</h2>
  <section class="nav">
    <a class="left" href="/portfolio/vpp" title="VPP">&larr; Velocity iPad App</a>
    <a class="right" href="/portfolio/magplus" title="Mag+">Mag+ &rarr;</a>
  </section>
</header>

<blockquote class="summary">
  <div>
    <p>We brought focus, design, and a strong, maintainable codebase into the Owneraide app, and helped launch it to a wider audience.</p>
  </div>
</blockquote>

<section class="primary">
  <section class="screenshots">
    <section class="case">
      <a class="jump" href="#screenshots">Jump to screenshots</a>
      <section class="problem">
        <h4>The Problem</h4>
        <p>While there are swelling numbers of skilled workers looking for extra work, there is still a substantial investment of time and effort that must be put into combing through sites like Craigslist and Angie's List to find this work.</p>
        <p>Owneraide believes that there must be a better way to find that work. They came to thoughtbot to refactor their codebase, and refine and redesign their application's user experience.</p>
      </section>
      <section class="solution">
        <h4>The Solution</h4>
        <p>We were able to cut and combine features until the website had focus: We wanted workers to be able to find jobs effortlessly, and we wanted homeowners to easily browse and select trustworthy workers.</p>
        <p>We introduced email and in-app notifications, meaning workers don't have to actively search for jobs.  Once they complete their profile, jobs will be sent to them.</p>
        <p>To build trust with homeowners, we introduced a worker profile page which acts like a resume and builds trust.</p>
        <p>With a fully responsive site, workers can bid on jobs right from their phones.  They can also keep track of their appointments. This means faster response times for homeowners, and less hassle for workers.</p>
        <p>We developed a brand for the site which reflects the code values of the user base: honest, hardworking craftsmen.</p>
      </section>
      <p class="visit"><a href="http://owneraide.com">Visit their website</a></p>
    </section>
    <section id="screenshots">
      <%= link_to image_path('portfolio/owneraide/owneraide-1.png') do %>
        <%= image_tag 'portfolio/owneraide/owneraide-1.png', class: :screenshot, alt: 'Owneraide home page' %>
      <% end %>
      <%= link_to image_path('portfolio/owneraide/mobile.png') do %>
        <%= image_tag 'portfolio/owneraide/mobile.png', class: :screenshot, alt: 'Owneraide mobile' %>
      <% end %>
      <%= link_to image_path('portfolio/owneraide/owneraide-2.png') do %>
        <%= image_tag 'portfolio/owneraide/owneraide-2.png', class: :screenshot, alt: 'Owneraide search page' %>
      <% end %>
      <%= link_to image_path('portfolio/owneraide/owneraide-3.png') do %>
        <%= image_tag 'portfolio/owneraide/owneraide-3.png', class: :screenshot, alt: 'Owneraide job page' %>
      <% end %>
      <%= link_to image_path('portfolio/owneraide/owneraide-4.png') do %>
        <%= image_tag 'portfolio/owneraide/owneraide-4.png', class: :screenshot, alt: 'Owneraide job page' %>
      <% end %>
    </section>
  </section>

  <%= render 'pages/portfolio/get_started' %>
</section>
