<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html, charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag :application %>
    <meta name="description" content="<%= yield :meta_description %>" />
    <meta name="keywords" content="<%= meta_keywords %>" />
    <title><%= yield :title %> from thoughtbot</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <script type="text/javascript" src="http://use.typekit.com/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body id="<%= body_id %>">
    <header id="main-header">
      <nav id="main-nav">
      <h1 id="nav-ralph"><a href="/">apprentice.io</a></h1>
        <ul>
          <li><a href="/contact" id="contact-btn">Contact us</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= render 'pages/footer' %>

    <script type="text/javascript" src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/3tbRq2.js"></script>
    <%= javascript_include_tag :application %>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-1485842-6");
      pageTracker._trackPageview();
    </script>

    <script type="text/javascript">
      var _sf_async_config={uid:29168,domain:"thoughtbot.com"};
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
          var e = document.createElement('script');
          e.setAttribute('language', 'javascript');
          e.setAttribute('type', 'text/javascript');
          e.setAttribute('src',
             (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
             "js/chartbeat.js");
          document.body.appendChild(e);
        }
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
           loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>
  </body>
</html>
